tinkergraph/
c-inc/
go-inc/
references/
target/
templat/
thesis/
simple-ext/
mds/
.classpath
.project
.DS_Store
.vscode/
bin/

PGiraffe/bin/
target/*
.project
PGiraffe/.settings/*
.idea/


PGiraffe/pgdatadir/*